html {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  background: rgb(34, 195, 136);
  background: linear-gradient(
    20deg,
    rgba(34, 195, 136, 1) 0%,
    rgba(251, 45, 253, 1) 100%
  );
}

/* number "1" */

.number-100-days {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 120px;
}
.rectangle {
  display: flex;
  height: 120px;
}
#big-rectangle {
  position: relative;
  background-color: #e7dac1;
  height: 120px;
  width: 30px;
  border-radius: 5px;
  z-index: 2;
  border-color: #efe6d6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#small-rectangle {
  transform-origin: 22px;
  background-color: #e7dac1;
  border-radius: 5px;
  width: 30px;
  height: 60px;
  transform: rotate(45deg) translateX(9px);
  z-index: 2;
  border: solid 1px #decba9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* first circle = "0" */

#first-circle {
  position: relative;
  background-color: transparent;
  height: 60px;
  width: 45px;
  border-radius: 50%;
  border: 30px #e7dac1 solid;
  right: 5px;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* second circle  = "0" */

#second-circle {
  position: relative;
  background-color: transparent;
  height: 60px;
  width: 45px;
  border-radius: 50%;
  border: 30px #eee3d0 solid;
  z-index: 0;
  right: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* first word */

#first-line-words {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-left: 2px;
}
#days {
  position: relative;
  font-size: 73px;
  color: #e7dac1;
  font-weight: 800;
  color: rgb(244, 238, 224);
  letter-spacing: 2px;
  margin: 0;
}

/* second words */

#second-line-words {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#css-challenge {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: rgb(244, 238, 224);
  letter-spacing: 2px;
  margin: 0;
}
